<div class="container">
    <div class="row">
        <div>
            <div class="mb-4">
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Ime</th>
                            <th scope="col">Priimek</th>
                            <th scope="col">Email</th>
                            <th scope="col">Naslov</th>
                            <th scope="col">Pošta</th>
                            <th scope="col">Poštna Številka</th>
                            <th scope="col">Država</th>

                        </tr>
                    </thead>
                    <tbody>

                        {{#each rows}}

                        <tr>
                            <th scope="row">{{this.id}}</th>
                            <td>{{this.ime}}</td>
                            <td>{{this.priimek}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.naslov}}</td>
                            <td>{{this.pošta}}</td>
                            <td>{{this.poštna_številka}}</td>
                            <td>{{this.ime_država}}</td>

                        </tr>



                        {{/each}}

                    </tbody>
                </table>
            </div>





        </div>
    </div>
</div>