<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Domov</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body class="domov">



    <div class="container">
        <div class="row ">
            <div class="col-2">

            </div>
            <div class="col-4">
                <img src="..\slike_razno\zelenjama3.jpg" height="100px">
            </div>
        </div>
        <div>
            <div class="row">

                <div class="col-12">
                    <b style="font-size:300%; background-color:white;">Naročanje svežih in okusnih pridelkov
                        slovenskega izvora</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Domov</li>
                    </ol>
                </nav>
            </div>
        </div>



        <div class="row gy-4">

            <div class="col-3">
                <div class="card">
                    <img src="../slike_izdelki/slikatrenutnoninavoljo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Vsi Izdelki</h5>
                        <p class="card-text">Vse, kar lahko naročite pri nas.</p>
                        <a href="/vsi_izdelki" class="btn btn-primary">Vsi Izdelki</a>
                    </div>
                </div>
            </div>
            {{#each rows}}
            <div class="col-3">
                <div class="card">
                    <img src="../slike_izdelki/{{ this.slika_kategorija }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ this.ime_kategorija }}</h5>
                        <p class="card-text">{{ this.opis_kategorija }}</p>
                        <a href="/vsi_izdelki?kategorija={{ this.id_produkt_kat }}"
                            class="btn btn-primary">{{this.ime_kategorija }}</a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>

</html>