<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-2">
            <h1>Košarica</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Domov</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Košarica</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-2">
            <form action="oddaj_narocilo" method="POST" class="oddaj_narocilo_form">
                <button type="submit" class="btn btn-primary">Kupi izdelke</button>
            </form>
        </div>
        <div class="col-4">

            <div>
                <p>Vaša košarica trenutno stane: {{this.cena}}€ !</p>
            </div>

        </div>

    </div>
</div>
<div class="mb-4">
</div>
<div class="container">
    <div class="row gy-4">
        {{#each rows}}
        <div class="col-3">
            <div class="card">
                <img src="../slike_izdelki/{{ this.slika_produkta }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.ime_produkta}}</h5>
                    <p class="card-text">{{this.opis_produkta}} - {{this.kolicina}}x</p>
                    {{!-- <a href="/vsi_izdelki" class="btn btn-primary">Dodaj v košarico</a> --}}
                    <form action="odstrani_iz_kosarice" method="POST" class="dodaj-kosarica-form">
                        <input type="hidden" class="kolicina" name="kolicina" value="{{this.kolicina}}">
                        <input type="hidden" class="izdelek_id" name="izdelek_id" value="{{this.id}}">
                        <button type="submit" class="btn btn-danger">Odstrani</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="mb-4">
        </div>
        <div class="col-2">
            <div>
                <form action="oddaj_narocilo" method="POST" class="oddaj_narocilo_form">
                    <button type="submit" class="btn btn-primary">Kupi izdelke</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.oddaj_narocilo_form').forEach(form => {
        form.addEventListener("submit", event => {
            console.log(event);
            const potrdilo = confirm("Ali želite oddati naročilo?");
            if (!potrdilo) {
                event.preventDefault()
            }
        });
    });
</script>